html {
    font-family:'Courier New', Courier, monospace;
    color:rgb(255, 146, 222);
}
body{
    background-color:rgb(110, 40, 76);
    margin: 0;
}
h1 {
    font-size: 3rem;
    font-family:'lucida handwriting';
}
p {
    font-size: 1.2rem;
}

h3 {
    margin-top: 0;
}

.highlight {
    font-weight: 900;
    color:white;  
}
#header {
    background-image: url("https://www.fairmont-empress.com/content/uploads/2023/02/pink-blossoms-on-cherry-tree-in-spring-2022-11-11-20-54-57-utc-copy-scaled.jpg");
    background-size: cover; 
    height: 35rem; 
    color:rgb(103, 13, 141); 
    font-size: 2rem; 
    border-radius: 0 0 1.2em 1.2em; 
    
    display: flex;
    align-items: center; 
    flex-direction: column; 
    padding-bottom: 5%; 
}

.navbar {
    background-color:rgb(248, 135, 154); 
    display: flex; 
    justify-content: center;
}
.nav-links {
    list-style: none; 
    display: flex; 
    gap: 5em; 
}
.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem; 
    transition: 0.4s; 
    padding: 0.5em 1.0em;
}
.nav-links li a:hover {
    background-color:darkorchid;
    border-radius: 1.2em 0 1.2em 1.2em;
}
.title {
    text-align: center; 
    padding: 1em; 
}
.current {
    text-decoration: underline dotted darkorchid 0.3em;
}

.accordion-header {
    width: 100%;
    background-color:darkviolet;
    border: none;
    padding: 1em 1em 1em 3em;
    text-align: left;
    font-size: 1.1rem;
    color:white;
    cursor: pointer;
    transition: 0.5s;
}
.accordion-content {
    display: none;
}
.accordion-header:hover {
    background-color:rgb(194, 95, 236)
}

.blog-entry {
    display: flex;
    align-items: center;
    gap: 2em;
    padding-right: 2%;
    margin-bottom: 2em;
}
.hidden {
    display: none;
}

.blog-entry img {
    width: 30%;
    border-radius: 0 1.5em 1.5em 0;
}
#enter-password {
    text-align: center;
}
#enter-password input {
    font-size: 1.5rem;
    border-radius: 0.5em;
    border: 0;
    padding: 0.2em;
    width: 40%;
}
#enter-password button {
    font-size: 1.3rem;
    padding: 0.3em;
    border-radius: 0.5em;
    width: 5%;
    border: 0;
}